<div class="search-container">
  <div class="search-wrapper">
    <form class="search-form" (ngSubmit)="submit()" [formGroup]="searchForm">
      <input
        class="search-input"
        type="text"
        formControlName="keyword"
        placeholder="Search"
        required
      />

      <div class="radio-container">
        <label class="radio-label" for="relevance"
          >Relevance
          <input
            id="relevance"
            type="radio"
            name="sortBy"
            formControlName="sortBy"
            value="relevance"
            required
          />
          <span class="custom-radio"></span>
        </label>
        <label class="radio-label" for="date"
          >Date
          <input
            id="date"
            type="radio"
            name="sortBy"
            formControlName="sortBy"
            value="date"
            required
          />
          <span class="custom-radio"></span>
        </label>
        <label class="radio-label" for="rating"
          >Rating
          <input
            id="rating"
            type="radio"
            name="sortBy"
            formControlName="sortBy"
            value="rating"
            required />
          <span class="custom-radio"></span
        ></label>
      </div>

      <div class="search-button-container">
        <button
          class="search-button"
          type="submit"
          [disabled]="!searchForm.valid"
        >
          Search
        </button>
      </div>
    </form>
    <search-results [results]="results"></search-results>
  </div>
</div>
