.search-container {
  perspective: 4000px;
}

.search-wrapper {
  background: linear-gradient(to bottom, #fff 0%, #fff 65%, transparent 100%);
  border-radius: 2px;
  height: 600px;
  left: calc(50% - 269px);
  position: absolute;
  top: calc(50vh - 358px);
  transform: rotate3d(-42, -30, 25, -54deg);
  width: 470px;
}

.search-form {
  margin: 2rem;

  .search-input {
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    width: 100%;
  }

  .radio-container {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .radio-label {
    cursor: pointer;
    display: block;
    margin-bottom: 12px;
    padding-left: 35px;
    position: relative;
    user-select: none;

    &:hover input ~ .custom-radio {
      background-color: #ccc;
    }

    input {
      opacity: 0;
      height: 0;
      width: 0;

      &:checked ~ .custom-radio {
        background-color: #03adfc;

        &:after {
          display: block;
        }
      }
    }

    .custom-radio {
      background-color: #eee;
      border-radius: 50%;
      height: 25px;
      left: 0;
      position: absolute;
      top: 0;
      width: 25px;

      &:after {
        background: #fff;
        border-radius: 50%;
        content: "";
        display: none;
        height: 8px;
        left: 9px;
        position: absolute;
        top: 9px;
        width: 8px;
      }
    }
  }

  .search-button-container {
    text-align: center;
  }

  .search-button {
    background-color: #03adfc;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    transition: background-color 0.15s;
    width: 150px;

    &:hover {
      background-color: #0078b0;
    }

    &:disabled {
      background-color: #ccc;
      cursor: default;
    }
  }
}

@media screen and (min-width: 1200px) {
  .search-container {
    perspective: 4500px;
  }
}

@media screen and (min-width: 1920px) {
  .search-container {
    perspective: 5000px;
  }
}
