.search-results-container {
  height: 365px;
  overflow: scroll;
  padding: 0 2rem;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

.search-result {
  display: flex;
  margin-bottom: 1rem;
}

.no-results {
  font-size: 1.5rem;
}
