<section class="search-results-container">
  <div *ngFor="let result of results">
    <search-result [result]="result"></search-result>
  </div>
  <p class="no-results" *ngIf="results?.length === 0">
    No results. Please search again.
  </p>
</section>
