<div class="search-result">
  <img class="search-result-thumbnail" [src]="result.thumbnail" />
  <div class="search-result-content">
    <a
      class="search-result-title"
      href="https://www.youtube.com/watch?v={{ result.id }}"
      target="_blank"
      >{{ result.title }}</a
    >
    <p class="search-result-description">{{ result.description }}</p>
    <span *ngIf="commentCount" class="search-result-comments"
      >{{ commentCount | number }}
      <span *ngIf="commentCount === 1; else plural">Comment</span>
      <ng-template #plural>
        <span>Comments</span>
      </ng-template>
    </span>
    <span *ngIf="!commentCount" class="search-result-comments"
      >No Comments</span
    >
  </div>
</div>
