.search-result-thumbnail {
  width: 94px;
}

.search-result-content {
  margin: 0 1rem;
}

.search-result-title,
.search-result-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 275px;
}

.search-result-title {
  color: #03adfc;
  display: block;
  font-size: 1.375rem;
  text-decoration: none;
  transition: color 0.15s;

  &:hover {
    color: #0078b0;
  }
}

.search-result-comments {
  color: #999;
}
